@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
<<<<<<< HEAD
    <h1 class="display-4">BuildPublish</h1>
=======
    <h1 class="display-4">Build</h1>
>>>>>>> bacea4127d1ab18e2b8e240db7d82d2c27f51493
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
